* {
    box-sizing: border-box;
    font-family:  "M PLUS 1 Code", monospace;
}

@import url('https://fonts.googleapis.com/css?family=Trirong');
 
 /* Add your CSS styles here */
 body {
    background-color: #eee;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #B6CEE3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.form-group {
    margin-bottom: 10px;
    
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.form-group button {
    width: 50%;
    padding: 10px;
    background-color: #78A3CD;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 90px;
}
.form-group button:hover {
    background-color: #78A3CD;
}
.head {
    color: #78A3CD; /* สีของข้อความ */
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}
.input-icon {
    width: 20px; /* ขนาดของรูปไอคอน */
    height: 20px;
    margin-right: 10px; /* ระยะห่างระหว่างรูปไอคอนกับช่องกรอกข้อความ */
}
.icon-input {
    position: relative; /* เพื่อให้รูปไอคอนอยู่ในตำแหน่งที่ถูกต้อง */
}

.non-button{
    margin-bottom: 10px;
    text-align: center;
}

.form-button {
    width: auto; /* ให้ความกว้างของปุ่มเป็นขนาดของข้อความเท่านั้น */
    padding: 0; /* ไม่มี padding */
    background: none; /* ลบพื้นหลัง */
    border: none; /* ลบเส้นขอบ */
    color: #007bff; /* สีข้อความ */
    cursor: pointer;
    font-size: inherit; /* ใช้ขนาดตัวอักษรเป็นขนาดเดียวกับข้อความรอบๆ */
}

.form-button:hover {
    text-decoration: underline; /* เพิ่มขีดเส้นใต้เมื่อโฮเวอร์ */
}

.form-button:focus {
    outline: none; /* ไม่มีเส้นขอบรอบปุ่มเมื่อได้รับการกด */
}